<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <!-- central system section-->
	<arg name="central_system" default="true" />
	<arg name="standalone_pid_controllers" default="true" />

	<!-- tracking section-->
	<arg name="tracking" default="true" />

	<!-- dynamic avoidance section-->
	<arg name="dynamic_avoidance" default="false" />

	<!-- planning section-->
	<arg name="planning" default="false" />

    <group ns="logic">
        <!-- Central system -->
        <include file="$(find central_system)/launch/central_system.launch" if="$(arg central_system)"/>

        <!-- Central tracking system -->
        <include file="$(find centracksys)/launch/tracksys.launch" if="$(arg tracking)">
        </include>

        <!-- Dynamic avoidance algorithm and system -->
        <group if="$(arg dynamic_avoidance)">
            <!-- Dynamic avoidance algorithm -->
            <include file="$(find dynamic_avoidance)/launch/dynamic_avoidance.launch">
            </include>

            <!-- Dronet -->
            <include file="$(find central_system)/launch/full_perception_launch.launch">
                <arg name="bebop_launch" value="false" />
                <arg name="namespace" value="bebop2" />
            </include>
            <!--<include file="$(find central_system)/launch/deep_navigation.launch">
                <arg name="namespace" value="bebop2" />
            </include>-->
        </group>

        <!-- Search planner for drone -->
        <include file="$(find drone_planning)/launch/drone_planner.launch" if="$(arg planning)">
        </include>

        <!-- 6x standalone PIDs for drone -->
        <include file="$(find central_system)/launch/standalone_pid_controllers.launch" if="$(arg standalone_pid_controllers)">
        </include>
    </group>

</launch>
