<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <!-- target section-->
	<arg name="target" default="true" />
	<arg name="targetloc" default="true" />
	<arg name="cctv" default="true" />
	<arg name="target_x" default="23.38019287586212"/>
    <arg name="target_y" default="-28.47852686047554"/>
    <arg name="target_z" default="1"/>

    <group ns="target">
        <!-- Target localization -->
        <include file="$(find target_localization)/launch/target_loc.launch" if="$(arg targetloc)">
            <!--<arg name="image_topic" value="/bebop2/camera_base/image_raw"/>-->
        </include>

        <!-- Target ball -->
        <group if="$(arg target)">
            <include file="$(find target_ball)/launch/target_moveit.launch" />
            <include file="$(find target_ball)/launch/target.launch">
                <arg name="x" default="$(arg target_x)"/>
                <arg name="y" default="$(arg target_y)"/>
                <arg name="z" default="$(arg target_z)"/>
            </include>
        </group>

    </group>
    <group ns="environment">
        <!-- CCTV cameras for filling database of drone, support for searching -->
        <include file="$(find cctv_system)/launch/cctv_system.launch" if="$(arg cctv)">
        </include>
    </group>
</launch>
    