<launch>
    <rosparam file="$(find pesat_resources)/config/position_pid_config/hardware.yaml" command="load"/>
    <rosparam file="$(find pesat_resources)/config/position_pid_config/controllers.yaml" command="load"/>
    <rosparam file="$(find pesat_resources)/config/position_pid_config/joint_limits.yaml" command="load"/>
    <node name="pid_controller" pkg="position_pid" type="position_pid_node" output="screen"/>
    <!--<node name="controller_spawner_pid" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/bebop2"
        args="
            controller/state
            controller/position/X_AXIS
            controller/position/Y_AXIS
            controller/position/Z_AXIS
            controller/position/YAW_ANGLE
            controller/position/HORIZONTAL_ANGLE
            controller/position/VERTICAL_ANGLE
        "/>-->
</launch>