<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <rosparam command="load" file="$(find pesat_resources)/config/drone_configuration.yaml" />
    <rosparam command="load" file="$(find pesat_resources)/config/environment_configuration.yaml" />
    <rosparam command="load" file="$(find pesat_resources)/config/logic_configuration.yaml" />
    <node name="central_system" pkg="central_system" type="central_system.py" output="screen"/>
</launch>
