<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="extra_localization" default="false" />
	<arg name="dronet" default="false" />
	<arg name="slam" default="false" />
	<arg name="moveit" default="false" />
	<arg name="targetloc" default="false" />
	<arg name="target" default="true" />
	<arg name="tracking" default="false" />

	<!-- Gazebo -->
	<include file="$(find velocity_controller)/launch/bebop_cmd_vel.launch">
		<arg name="extra_localization" value="$(arg extra_localization)" />
		<arg name="world_name" value="basic"/>
		<!--<arg name="world_name" value="box_world"/>-->
		<arg name="world_path" value="$(find pesat_resources)/worlds"/>
	</include>
	<!-- Robot localization package -->
	<group if="$(arg extra_localization)">
		<include file="$(find central_system)/launch/localization.launch"/>
	</group>
	<!-- Moveit -->
	<include file="$(find central_system)/launch/moveit.launch" if="$(arg moveit)"/>
	<!-- SLAM -->
	<include file="$(find central_system)/launch/orb_slam2_gazebo_mono.launch" if="$(arg slam)">
	    <arg name="namespace" value="bebop2" />
	</include>
	<!-- Dronet -->
	<include file="$(find central_system)/launch/full_perception_launch.launch" if="$(arg dronet)">
		<arg name="bebop_launch" value="false" />
		<arg name="namespace" value="bebop2" />
	</include>
	<include file="$(find central_system)/launch/deep_navigation.launch" if="$(arg dronet)">
		<arg name="namespace" value="bebop2" />
	</include>
	<!-- Target localization -->
	<include file="$(find target_localization)/launch/target_loc.launch" if="$(arg targetloc)">
		<!--<arg name="image_topic" value="/bebop2/camera_base/image_raw"/>-->
	</include>
	<!-- Target ball -->
	<include file="$(find target_ball)/launch/target.launch" if="$(arg target)">
	</include>
	<!-- Central tracking system -->
    <include file="$(find centracksys)/launch/tracksys.launch" if="$(arg tracking)">
	</include>
</launch>
